 body{
	 font-size: 20px;
	 margin: 0px;
	 padding: 0px;
 }
#srch{
	background-color: #2980B9;
}
#apart{
	 text-align: center;
	 color: red;
	 margin-left: 28%;
	 font-size: 36px;
 }
#searchBar{
	border: 1.2px solid #000000;
	font-size: 20px;
	padding: 10px;
	outline: none;
	width: 350px;
	margin-left: 30%;
	margin-top: 200px;
	margin-bottom: 177px;
}
#searchBtn{
	border: 1.2px solid #000000;
	font-size: 20px;
	padding: 10px;
	background: #f1d829;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	margin-top: 100px;
}
#searchBtn:hover{
	background: #00FFFF;
}